* {
    margin: 0;
    padding: 0;
}


body {
    width: 100%;
    height: auto;
    background-image: url(../homebackground.jpg);
    background-size: cover;

}


.gymbag-instruction {
    margin-top: 10%;
    margin-left: 30%;
    font-size: xx-large;
    position: absolute;
    top: 0;
    box-shadow: 20px 20px 10px grey inset;
    background-color: grey;
    opacity: 0.9;




}

p {
    margin-left: 40px;
}

h1 {
    text-align: center;
    margin-top: 30px;
    position: absolute;
    top: 0;
    margin-left: 50px;
}



#answer1,
#answer2,
#answer3,
#answer4,
#answer5,
#answer6 {

    padding-left: 30px;
    display: none;

}



li {
    list-style: none;
    margin: 10px;
    cursor: pointer;

    padding-left: 10px;
    font-weight: bolder;
}

li:hover {
    color: rgb(227, 114, 65);

}

#btn,
#btn2,
#btn3,
#btn4,
#btn5,
#btn6 {
    margin: 20px 0 5% 40%;
    border-radius: 100%;
    font-size: x-large;
    padding: 5px;
    background-color: rgb(11, 10, 10);
    color: white;
}

#next {

    margin-top: 50px;
    margin-left: 70px;
    margin-bottom: 40px;
    padding: 15px 25px;
    font-size: x-large;
    border-radius: 20px;
    background-color: white;   
     transition: opacity 1s ease-in-out;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, transform 0.3s ease-in-out;
}
button:hover{
    transform: scale(1.1)
}

button a{
    text-decoration: none;
    color: black;
}